body { 
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
 }

h1,h2,h3,h4,h5,h6 {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
}

/*******************************
	HELPERS
********************************/

.unstyled-list {
	list-style: none;
	padding:0;
	margin:0;
}

/*******************************
	SIDE BAR
********************************/
.side-menu {
	width: 100px;
	height: 100%;
	position: fixed;
	z-index: 1;
	background: #EAEAEA;
}

.side-menu a {
	color: #333;
	text-decoration: none;
	text-transform: uppercase;
}

.logo {
	display: block;
	text-align: center;
	position: relative;
	top:30px;
}

.main-menu {
	position:relative;
	transform: rotate(270deg);
	top:90px;
}

.main-menu ul{
	display: flex;
	flex-direction: row-reverse;
}

.main-menu ul li{
	margin: 0 10px;
}

.social-menu {
	position:absolute;
	bottom: 30px;
	text-align: center;
	width: 100%;
}
/*******************************
	MAIN CONTENT
********************************/
.main-content {
	padding-left: 100px;
}

.section{
	background: #333;
	color: #fff;
}